@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Heebo", sans-serif;
}

main {
  flex: 1;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 0rem 0;
}

.profile-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  overflow: hidden;
}
.profile-card .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.profile-card .profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px solid white;
  position: absolute;
  top: 50px;
  left: 20px;
}
.profile-card .profile-info {
  margin-top: 116px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-card .profile-info .detail {
  text-align: left;
  margin-right: auto;
}
.profile-card .profile-info h5 {
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: bold;
}
.profile-card .profile-info p {
  margin-bottom: 5px;
  color: #6c757d;
}
.profile-card .btn-group {
  margin-top: 15px;
}
.profile-card .btn-group .btn {
  border-radius: 20px;
  margin-right: 10px;
}
.profile-card .skills {
  margin-top: 100px;
  text-align: center;
}

.profile-card .profile-info .rol {
  text-align: right;
  margin-left: auto;
  color: #6c757d;
}

.profile-card .skills .badge {
  border-radius: 15px;
  background-color: #ff9a9d87;
  color: #495057;
  margin-right: 5px;
  padding: 5px 10px;
}
.profile-card .actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.profile-card .actions .action-item {
  text-align: center;
  flex-grow: 1;
  padding: 10px;
  border-radius: 10px;
  background-color: #ff9a9dae;
  color:#495057;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.8rem;
  max-width: 33%;
}
.profile-card .actions .action-item:hover {
  background-color: #fad0c4bc;
}
.profile-card .actions .action-item:last-child {
  margin-right: 0;
}
.profile-card .actions .action-item i {
  font-size: 1.5rem;
  margin-bottom: 5px;
  display: block;
}